<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Dnote</title>
    <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/app.css") %>'/>
  </head>
  <body>
    <header role="header" class="header">
      <section class="wrapper">
        <%= render "_header.html.eex", assigns %>
      </section>
    </header>
    <main role="main" class="main">
      <section class="wrapper">
        <p class="alert _info" role="alert"><%= get_flash @conn, :info %></p>
        <p class="alert _danger" role="alert"><%= get_flash @conn, :error %></p>
        <%= render @view_module, @view_template, assigns %>
      </section>
    </main>
    <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/app.js") %>'></script>
  </body>
</html>
